body {
	background: #ddd;
}
	
a {
	color: #c0392b;
	text-decoration: none;
}

p:first-child, .title:first-child {
	margin-top: 0;
}

.row {
	width: 88%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}

.row .row {
	width: auto;
}

img {
	vertical-align: bottom;
}


html {
	height: 100%;
	overflow-x: hidden;
}

body {
	display: table;
	min-height: 100%;
	width: 100%;
}

body > header,
body > main {
	display: table-cell;
	vertical-align: top;
}

#header {
	width: 240px;
	background: #fff;
	padding: 3em 1em;
}

#menu {
	margin: 1em -1em;
}

#content {
	background: #eee;
	padding: 3em 1em;
	min-height: 80%;
}





/* post gallery stuff
-------------------------------------------------------------- */

.post-gallery {
	margin: 0 -1em;
}

.post-gallery .post {
	display: inline-block;
	width: 200px;
	vertical-align: middle;
	margin: 1em;
	padding: 0;
}

.post-gallery .post a {
	display: block;
	padding: 1em;
	background: #fff;
}

.post-gallery .post img {
	margin-bottom: 0.75em;
}

.post-gallery .post .title {
	text-align: center;
	color: #999;
	font-size: 12px;
}

.post figure img {
	box-shadow: 0 0 1px rgba(0,0,0,0.4);
}



